{% include 'authentication/base.html' %}
<center>
    <h1> Name of subjects </h1><br><br>
    <div class="form-control col-5">
        <button type="button" class="form-control btn btn-dark btn-lg"><a href="{% url 'emf' %}">Enterpreneurship, Management and Finance </button></a>
        <br><br>
        <button type="button" class="form-control btn btn-dark btn-lg">Web Services </button><br><br>
        <button type="button" class=" form-control btn btn-dark btn-lg">Machine Learning </button><br><br>
        <button type="button" class="form-control btn btn-dark btn-lg">Computer Networks </button><br><br>
        <button type="button" class="form-control btn btn-dark btn-lg">Internet Of Things </button><br><br>
      
    </div>
</center>